torch
transformers
seaborn
tqdm
colorcet
blis
boto3
botocore
catalogue
certifi
chardet
click
colorama
filelock
idna
importlib-metadata
jmespath
joblib
murmurhash
numpy
plac
preshed
python-dateutil
pytz
regex
requests
s3transfer
sacremoses
scipy
sentencepiece
six
spacy
srsly
thinc
tokenizers
transformers
urllib3
wasabi
zipp
